apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: devops
  namespace: argocd
spec:
  clusterResourceWhitelist:
  - group: '*'
    kind: '*'
  description: "Project for DevOps"
  destinations:
    - namespace: '*'
      server: https://kubernetes.default.svc
  sourceRepos:
    - {{ $.Values.appEnvironments.dev.repoUrl }}
    - https://charts.bitnami.com/bitnami
    - https://kubernetes.github.io/autoscaler
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: devops-master
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: argocd
    server: https://kubernetes.default.svc
  project: devops
  source:
    path: k8s/devops
    repoURL: {{ $.Values.appEnvironments.dev.repoUrl }}
    targetRevision: HEAD
    helm:
      valueFiles:
        - values.yaml
      values:
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    retry:
      limit: 2
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m0s